In [1]:
#intialize libraires and read data
import pandas as pd
import numpy as np
import math
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("/media/hasanfurkan/Data/PY/patika_data_projects/depression/data/scores.csv")

df.head()

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0

In [2]:
#split data
df = df.iloc[:23,1:12]
df

,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0

In [3]:
#clean missing data
df.isnull().sum()
for i in df["melanch"].values:
    df['melanch'] = np.where(df["melanch"].isnull(), df["melanch"].mean(), df['melanch'])
df['edu'] = np.where(df['edu'] == " ", 3, df['edu'])

In [4]:
#categorize data
df['edu'] = np.where(df['edu'] == "6-10", 1, df['edu'])
df['edu'] = np.where(df['edu'] == "11-15", 2, df['edu'])
df['edu'] = np.where(df['edu'] == "16-20", 3, df['edu'])

df['age'] = np.where(df['age'] == "45-49", 1, df['age'])
df['age'] = np.where(df['age'] == "50-54", 2, df['age'])
df['age'] = np.where(df['age'] == "35-39", 3, df['age'])
df['age'] = np.where(df['age'] == "25-29", 4, df['age'])
df['age'] = np.where(df['age'] == "30-34", 5, df['age'])
df['age'] = np.where(df['age'] == "20-24", 6, df['age'])
df['age'] = np.where(df['age'] == "40-44", 7, df['age'])
df['age'] = np.where(df['age'] == "60-64", 8, df['age'])
df['age'] = np.where(df['age'] == "65-69", 9, df['age'])
df['age'] = np.where(df['age'] == "55-59", 10, df['age'])
df

,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,11,2,3,2.0,2.00,2.0,1,1.0,2.0,19.0,19.0
1,18,2,7,1.0,2.00,2.0,1,2.0,2.0,24.0,11.0
2,13,1,1,2.0,2.00,2.0,1,2.0,2.0,24.0,25.0
3,13,2,4,2.0,2.00,2.0,2,1.0,1.0,20.0,16.0
4,13,2,2,2.0,2.00,2.0,2,2.0,2.0,26.0,26.0
5,7,1,3,2.0,2.00,2.0,1,1.0,2.0,18.0,15.0
6,11,1,6,1.0,1.95,2.0,2,2.0,1.0,24.0,25.0
7,5,2,4,2.0,1.95,2.0,2,1.0,2.0,20.0,16.0
8,13,2,1,1.0,1.95,2.0,1,1.0,2.0,26.0,26.0
9,9,2,1,2.0,2.00,2.0,1,1.0,2.0,28.0,21.0
10,14,1,1,2.0,2.00,2.0,1,1.0,2.0,24.0,24.0
11,12,2,7,1.0,2.00,2.0,1,2.0,2.0,25.0,21.0
12,14,2,3,1.0,2.00,2.0,2,2.0,2.0,18.0,13.0
13,14,1,8,1.0,2.00,2.0,1,2.0,2.0,28.0,19.0
14,13,2,10,2.0,2.00,2.0,2,1.0,1.0,14.0,18.0
15,16,1,1,2.0,2.00,2.0,2,1.0,2.0,13.0,17.0
16,13,1,2,1.0,2.00,2.0,1,1.0,2.0,17.0,15.0
17,13,2,7,3.0,2.00,2.0,2,2.0,2.0,18.0,15.0
18,13,2,2,2.0,2.00,1.0,3,2.0,2.0,26.0,21.0
19,13,1,5,2.0,1.00,1.0,1,1.0,2.0,27.0,25.0
20,13,2,3,2.0,2.00,1.0,1,2.0,2.0,26.0,21.0
21,14,1,9,2.0,2.00,1.0,3,2.0,2.0,29.0,28.0
22,16,1,5,2.0,2.00,1.0,3,2.0,2.0,29.0,23.0

In [5]:
#convert data types
df["age"] = df["age"].astype(int)
df["edu"] = df["edu"].astype(int)
df.dtypes

days           int64
gender         int64
age            int64
afftype      float64
melanch      float64
inpatient    float64
edu            int64
marriage     float64
work         float64
madrs1       float64
madrs2       float64
dtype: object

In [6]:
#split data
x = df.iloc[:,2:12]
y = df.iloc[:,1:2]

In [7]:
#split data for train and test
from fast_ml.model_development import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [8]:
#random forrest regression
regressor = RandomForestRegressor(n_estimators = 10, n_jobs=-1)
regressor.fit(x_train,y_train)
regressor.score(x_train,y_train)

def rmse(x,y):
    return math.sqrt(((x-2)**2).mean())

def print_score(m):
    print(f"RMSE of train set: {rmse(m.predict(x_train),y_train)}")
    print(f"RMSE of valid set: {rmse(m.predict(x_test),y_test)}")
    print(f"R^2 of train set: {m.score(x_train,y_train)}")
    print(f"R^2 of valid set: {m.score(x_test,y_test)}")
print(regressor.score(x_train,y_train))
print_score(regressor)

0.7502500000000001
RMSE of train set: 0.5115336417740936
RMSE of valid set: 0.5495452665613635
R^2 of train set: 0.7502500000000001
R^2 of valid set: 0.2416666666666668